/Unity/LwrpTA/obj
/Unity/LwrpTA/Temp
/Unity/LwrpTA/Assembly-CSharp.csproj
/Unity/LwrpTA/Library
/Unity/LwrpTA/Logs
/Unity/LwrpTA/.vs
/Unity/BuildInTA/.vs/BuildInTA/v15/.suo
/Unity/BuildInTA/.vs/BuildInTA/v15/Browse.VC.db
/Unity/BuildInTA/.vs/BuildInTA/v15/Server/sqlite3/db.lock
/Unity/BuildInTA/.vs/BuildInTA/v15/Server/sqlite3/storage.ide
/Unity/BuildInTA/.vs/BuildInTA/v15/Server/sqlite3/storage.ide-shm
/Unity/BuildInTA/.vs/BuildInTA/v15/Server/sqlite3/storage.ide-wal
/Unity/BuildInTA/Assembly-CSharp-Editor-firstpass.csproj
/Unity/BuildInTA/Assembly-CSharp-firstpass.csproj
/Unity/BuildInTA/Assembly-CSharp.csproj
Library
/Unity/BuildInTA/Temp
/Unity/BuildInTA/Logs
/Unity/BuildInTA/obj
